.cart {
  display: block;
  font-size: 20px;
  &__product {
    width: 95vw;
    margin: 50px auto;
    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr auto;
      -webkit-box-align: center;
      align-items: center;
      grid-template-rows: 75px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    &__header {
      display: grid;
      grid-template-columns: 316px 1fr 1fr 1fr auto;
      justify-items: center;
      column-gap: 1rem;
      padding-bottom: 20px;
      border-bottom: 1px solid #ccc;
    }
  }
}
.title {
  padding: 20px;
}
.cart-menu {
  opacity: 0.6;
}
.color-product {
  border-radius: 10px;
  width: 12px;
  height: 12px;
}
.price-product {
  font-size: 16px;
  color: #ab7a5f;
  margin-left: -90px;
}
.amount-btns {
  display: flex;
  justify-content: center;
}
.subtotal {
  font-size: 16px;
  color: #617d98;
}
.remove-btn {
  color: #fff;
  border: transparent;
  background: #bb2525;
  width: 24px;
  height: 24px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.img-info {
  display: flex;
  margin-left: 80px;
  margin-top: 30px;
}
.img-cart {
  width: 100px;
  height: 75px;
  margin-right: 20px;
  border-radius: 4px;
  border: none;
}
.product-cart-name {
  text-transform: capitalize;
}
.product-cart-color {
  font-size: 16px;
  margin-top: 10px;
  opacity: 0.7;
  text-align: start;
  display: flex;
}
div.color-product-cart {
  width: 15px !important;
  height: 15px !important;
  border-radius: 4px;
}
.total-amount {
  text-align: center;
}
