body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h2{
  text-align: center;
  position: relative;
  margin-top: 100px;
  margin-bottom: 60px;
  font-size: 30px;
}
.underline{
  background-color:#c59e5f;
  height:2px;
  width:60px;
  position: absolute;
  top: 160px;
  left: 48.5%;
}
img{
  width: 225px; height:150px;
  border: 4px solid #c59e5f;
  border-radius: 4px;
  margin-right: 15px;
}
article{
  display: flex;
  margin-bottom: 40px;
}
header{
  border-bottom: 0.5px dotted #617d98;
  text-transform: uppercase;
  letter-spacing:1px;
  display: flex;
  justify-content:space-between;
}
.info{
  max-width:324px;
  line-height: 1.6
}
h4{
  margin-top: 0;
}
.price{
  color:#c59e5f;
}
.section-center{
  max-width:1170px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
button{
  border:none;
  background-color:#fff;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 60px;
  color: #c59e5f;
  margin-right: 20px;
}
.btn-container{
  display: flex;
  justify-content: center;
}